@page
@model Corona_App.Pages.Varer.CreateVareModel
@{
}

<div class="container">
    <h1>welp</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="alert-danger"></div>

                <div class="form-group">
                    <label>VareNr</label>
                    <input type="number" asp-for="@Model.Varer.VareNr" class="form-control" />
                    <span asp-validation-for="@Model.Varer.VareNr" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label>Pris</label>
                    <input type="number" asp-for="@Model.Varer.Pris" class="form-control" />
                    <span asp-validation-for="@Model.Varer.Pris" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label>Navn</label>
                    <input type="text" asp-for="@Model.Varer.Navn" class="form-control" />
                    <span asp-validation-for="@Model.Varer.Navn" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label>Katagori</label>
                    <input type="text" asp-for="@Model.Varer.Kategori" class="form-control" />
                    <span asp-validation-for="@Model.Varer.Kategori" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Opret" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>
</div>
