@page
@model Corona_App.Pages.Varer.KatalogModel
@{
}

@foreach (var item in @Model.Varer)
{
    <div class="col-4" style="border: solid 1.5px #000; margin-bottom: 2em;">
        <a asp-page="RedigereVare" asp-route-id="@item.VareNr">
            <p>@item.VareNr</p>
            <p>@item.Pris</p>
            <p>@item.Navn</p>
            <p>@item.Kategori</p>
        </a>
        <a asp-page="SletVare" asp-route-id="@item.VareNr">Slet</a>
    </div>

}