@page
@*Lavet Af Jonathan og Marcus*@
@model Corona_App.Pages.Kunder.Bruger.OpgaverINærhedenAfDigModel
@{
    ViewData["Title"] = "Opgaver I Nærheden Af Dig";
}
<div class="imagecontainer">
    <img src="~/Billeder/Opgaver.png" alt="Billede af en by" />
    <div class="centered">Opgaver I Nærheden Af Dig</div>
</div>

<div class="text-center">

    <form method="post">
        <div class="form-group">
            <label>Vælg Kommune</label>
            <select onchange="this.form.submit()" asp-for="b.Kommune" class="form-control">
                -->
                <!--https://stackoverflow.com/questions/7231157/how-to-submit-form-on-change-of-dropdown-list  første svar-->
                @foreach (var kom in Enum.GetValues(typeof(kommuner)))
                {
                    <option value="@kom">@kom</option>
                }
            </select>
        </div>
    </form>

</div>

<div class="line-space"></div>
<div class="line-space"></div>
<form>

    <div class="text-center">
        @foreach (var kunder in @Model.bList)
        {
            if (Model.KundensVare.FindAll(k => k.Id == kunder.Id).Count > 1)
            {

                <div class="opgave_border">
                    <ul class="ingen_liste_prik">
                        <li>@kunder.Adresse</li>
                        <li>@kunder.Kommune</li>
                        <li>@Model.KundensVare.FindAll(k => k.Id == kunder.Id).Count varer</li>
                        <li>@Model.SamletPris.CalcAllPrice(kunder.Id) kr.</li>
                    </ul>
                    <button type="submit" formaction="/Kunder/Indkøbsliste" class="tynd_knap rema_farve text-center">Se Indkøbsliste</button>
                </div>
            }
        }

        @*<div class="line-space"></div>
            <div class="opgave_border">
                <ul class="ingen_liste_prik">
                    <li>Eriksmidevej 12</li>
                    <li>Greve 2670</li>
                    <li>9 varer</li>
                    <li>210 kr.</li>
                </ul>
                <button class="knap_divider tynd_knap rema_farve">Se Indkøbsliste</button>
                <button class="rema_farve tynd_knap rund_knap">Tag imod opgaven</button>
            </div>*@
    </div>
</form>

<nav class="menuknapper">
    <div class="rowtest">
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Varer/KatalogVarer/Katalog" value="Varer" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Indkøbsliste" value="Indkøbsliste" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Bruger/OpgaverINærhedenAfDig" value="Leveringer" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Bruger/Bruger" value="Profil" class="skaler btn btn-primary"></div>
        </form>
    </div>
</nav>
