@page
@model Corona_App.Pages.Varer.KatalogVarer.katalogModel
@{
}




<nav class="menuknapper">
    <div class="rowtest">
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Varer/KatalogVarer/Katalog" value="Varer" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Indkøbsliste" value="Indkøbsliste" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Bruger/BlivBud" value="Bliv Bud" class="skaler btn btn-primary"></div>
        </form>
        <form method="get">
            <div class="columntest"><input type="submit" formaction="/Kunder/Bruger/Bruger" value="Profil" class="skaler btn btn-primary"></div>
        </form>
    </div>
</nav>



<div class="kategori_banner">

    <div class="kategori_textOnImg">
        <h1>Frugt og Grønt</h1>
        <img src="/Billeder/Frugt-og-groent-2.jpg" alt="Frugt og grønt banner" />
    </div>
        <form method="post">
            <fieldset>
                <input type="search" asp-for="Search" placeholder="Søg efter navnet på en vare" class="search_input" />
                <input type="submit" value="Søg" class="btn" />
            </fieldset>
        </form>
</div>

@foreach (var kata in Enum.GetValues(typeof(Katagoris)))
{
    
    <h2>@kata</h2>
    @*}
        }*@
    @foreach (var item in @Model.Varer)
    {
        if (kata.ToString() == item.Kategori.ToString())
        {
            <div class="dropdown-item container_dropdown_item">

                <img src="https://www.dummyimage.com/40px40px" alt="Alternate Text" />
                <div>
                    <p>@item.Navn</p>
                    <p>@item.Pris kr</p>
                    <p>250 gram</p>
                </div>
                <a asp-page-handler="buynow" asp-route-vareNr="@item.VareNr">Tilføj</a>
                
            </div>

        }
    }
}